.authentication {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 30px auto;
  flex-direction: row;
  align-items: center;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-size: 45px;
  }
}
